@{
    ViewBag.Title = "SearchRecordsPartial";
}
<div class="toolbar">
    <label class="kendo-label" for="txtSearch">
        Search :
    </label>
    <input type="search" id="txtSearch" class="kendo-search-text" />
</div>
