.register-background {
	background-image: url(../images/landscape.jpg);
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.register-background .filter-black::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3; }

.register-footer {
  bottom: 20px;
  color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%; }

.register-footer .fa-heart {
  color: #EB5E28; }

.register-card {
	background-color: #009966;
	border-radius: 8px;
	color: #fff;
	max-width: 350px;
	margin: 10px 0 0px;
	min-height: 400px;
	padding: 30px;
}

.register-card label {
  margin-top: 0px; }

.register-card .title {
	color: #47A447;
	text-align: center;
}

.register-card .btn {
  margin-top: 30px; }

.register-card .forgot {
  text-align: center; }
